PORT=8080
GOOGLE_CLOUD_PROJECT=snack-crm-local
FIREBASE_AUTH_PROJECT_ID=snack-crm
ALLOWED_EMAIL_DOMAIN=snackprogram.org
FIRESTORE_EMULATOR_HOST=127.0.0.1:8085
FRONTEND_ORIGIN=http://localhost:5002
ALLOW_ADMIN_BULK_DELETE=false
